.button-delete-NFT {
  position: absolute;
  left: 84%;
  width: 5vw;
  top: 13%;
  border-style: solid;
  border-color: white;
}

@media (max-width: 768px) {
  .button-delete-NFT {
    display: inline-block; 
    top: 10%;
    width: 30.7%;
    left: 68%
  }
}