.recList-openButton-ownedRecord {
  position: absolute;
  left: 34%;
  width: 6vw;
  top: 13%;
  border-style: solid;
  border-color: white;
}

.recList-openButton-sharedRecord {
  position: sticky;
  left: 80%;
  width: 21%;
}

@media (max-width: 768px) {
  .recList-openButton-ownedRecord {
    display: inline-block;
    top: 48%;
    width: 60%;
    left: 5%;
  }

  .recList-openButton-sharedRecord {
    position: sticky;
    left: 80%;
    width: 25%;
  }
}