.whitelist-button {
  position: absolute;
  left: 78%;
  width: 6vw;
  top: 13%;
  border-style: solid;
  border-color: white;
}

@media (max-width: 768px) {
  .whitelist-button {
    position: sticky;
    left: 0%;
    width: 35%;
  }
}