.whitelist-button {
  position: absolute;
  left: 78%;
  width: 6vw;
  top: 13%;
  border-style: solid;
  border-color: white;
}

@media (max-width: 768px) {
  .whitelist-button {
    display: inline-block; 
    left: 68%;
    top: 48%;
    width: 30.7%;
  }
}