.commit-record-button {
  position: fixed;
  left: 5vw;
  top: 90vh;
  width: 10%;
}

@media (max-width: 768px) {
  .commit-record-button {
    position: absolute;
    left: 25%;
    top: 90vh;
    width: 50%;
  }
}