.home-button-newRecord {
  position: absolute;
  left: 20vw;
  top: 30vh;
  width: 10vw
}

.recList-button-newRecord {
  position: fixed;
  left: 74.3vw;
  width: 8vw
}

@media (max-width: 768px) {
  .home-button-newRecord {
    width: 70vw;
    top: -32vh;
    left: 45vw;
  }

  .recList-button-newRecord {
    position: relative;
    left: 27%;
    top: 60%;
    width: 75%;
  }
}
