.sidebar-button-upload {
  position: absolute;
  top: 42%;
  left: 27%;
  width: 45%;
}

.addImagePage-button-upload {
  position: absolute;
  top: 37%;
  width: 10vw;
}

@media (max-width: 768px){
  .sidebar-button-upload {
    position: absolute;
    top: 44%;
    left: 27%;
    width: 45%;
  }

  .addImagePage-button-upload {
    position: sticky;
    width: 40%;
  }
}

