/* styles.css */
.form-container {
  position: relative;
  top: 2vh;
}

.input-file {
  width: 11.6vw;
}

.input-description {
  width: 30vw;
}

.input-date {
  width: 10vw;
}

@media (max-width: 768px){
  .input-file {
    width: 80vw;
  }
  
  .input-description {
    width: 80vw;
  }
  
  .input-date {
    width: 80vw;
  }
}
