.container-agencies {
  position: relative;
  bottom: 25vh;
  height: 30vh;
}

.agencies-heading {
  position: absolute;
  margin-bottom: 30px;
  top: 2vh
}

.card-agencies {
  position: absolute;
  top: 12vh;
  width: 100%;
}

.modal-header-title {
  font-size: 1.25rem;
}

.modal-body-form-label {
  font-size: 1rem;
}

.modal-body-form-control {
  margin-bottom: 1rem;
  width: 100%;
}

.list-group-agencies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-body-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body-col {
  font-size: 20px;
}

.button-addAgencies{
  position: absolute;
  top: 2vh;
  left: 90%;
}

@media (max-width: 768px) {
  .container-agencies {
    position: relative;
    bottom: 25vh;
    height: 30vh;
  }
  

  .agencies-heading {
    position: absolute;
    top: 35%;
  }
  
  .card-agencies {
    position: relative;
    top: 60%;
    width: 110%;
    right: 5%;
  }
  
  
  .button-addAgencies{
    position: absolute;
    top: 30%;
    left: 65%;
    width: 35.5%;
  }
}

