.container-home{
  position: absolute;
  width: 50vw;
  left: 16%;
  top: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  width: 60vw;
  height: 90vh;
  position: absolute;
  left: 4vw;
  top: -60vh;
}

.button-providerList {
  position: absolute;
  width: 10vw;
  top: 36.8vh;
  left: 20vw;
}

.button-agencyList {
  position: absolute;
  width: 10vw;
  top: 36.8vh;
  left: 38vw;
}

.button-recordList-provider {
  position: absolute;
  width: 10vw;
  top: 30vh;
  left: 38vw;
}


.button-recordList-patient {
  position: absolute;
  width: 10vw;
  top: 30vh;
  left: 29vw;
}

@media (max-width: 768px){
  .container-home{
    position: relative;
    bottom: 200vh;
    left: -34vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .logo-image {
    width: 100vw;
    height: 60vh;
    position: absolute;
    left: 30vw;
    top: -95vh;
  }

  .button-recordList-provider {
    position: absolute;
    width: 70vw;
    top: -25vh;
    left: 45vw;
  }

  .button-recordList-patient {
    position: absolute;
    width: 70vw;
    top: -30vh;
    left: 45vw;
  }

  .button-providerList {
    position: absolute;
    width: 70vw;
    top: -18vh;
    left: 45vw;
  }
  
  .button-agencyList {
    position: absolute;
    width: 70vw;
    top: -11vh;
    left: 45vw;
  }
}


