.container-custom {
  position: relative;
  top: 50px;
  width: 100vw;
}

.logo-image {
  width: 85%;
  position: relative;
  left: 0;
  bottom: 130px;
}

.button-providerList {
  position: fixed;
  width: 10vw;
  top: 92vh;
  left: 44.6vw;
}

.button-recordList {
  position: fixed;
  left: 53.5vw;
  top: 85.2vh;
  width: 10vw
}
