.medication-form {
  position: relative;
  top: 2vh;
}

.input-field {
  width: 20vw;
}

.submit-button {
  margin-left: 21vw;
}

@media (max-width: 768px){
  .submit-button {
    margin-left: 35vw;
  }

  .input-field {
    width: 35vw;
  }
}

