.medinfo-form-container {
  position: relative;
  top: 1.5vh;
  margin-left: 20px;
}

.medinfo-row {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .medinfo-row {
    margin-bottom: 0px;
  }
}


