.form-container {
  position: relative;
  top: 2vh;
}

.name-input,
.birthday-input,
.address-input,
.email-input,
.phone-input {
  width: 20vw;
}

.form-container .age-input {
  width: 3vw;
}

@media (max-width: 768px) {
  .form-container {
    position: relative;
    top: 2%;
    left: 5%
  }
}
