.form-container {
  position: relative;
  top: 2vh;
}

.form-container  .name-input,
.form-container  .birthday-input,
.form-container  .address-input,
.form-container  .email-input,
.form-container  .phone-input {
  width: 20vw;
}

.form-container .age-input {
  width: 3vw;
}

@media (max-width: 768px) {
  .form-container {
    position: relative;
    top: 2%;
    left: 5%
  }

.form-container  .name-input,
.form-container  .birthday-input,
.form-container  .address-input,
.form-container  .email-input,
.form-container  .phone-input {
  width: 35vw;
}
}
