.row-records {
  position: absolute;
  bottom: 55vh;
  width: 69vw;
  height: 30vh;
}

.records-heading {
  position: absolute;
  top: 2vh;
  margin-bottom: 30px;
}

.ownedRecords-heading{
  position: absolute;
  top: 10vh;
}

.card-ownedRecords {
  position: absolute;
  width: 35vw;
  top: 15vh;
  left: 1%;
}

.sharedRecords-heading {
  position: absolute;
  left: 54%;
  top: 10vh;
}

.card-sharedRecords {
  position: absolute;
  width: 35vw;
  left: 55%;
  top: 15vh;
}

.button-share-access {
  position: absolute;
  left: 56%;
  width: 6vw;
  top: 13%;
  border-style: solid;
  border-color: white;
}

.modal-header-title {
  font-size: 1.25rem;
}

.modal-body-form-label {
  font-size: 1rem;
}

.modal-body-form-control {
  margin-bottom: 1rem;
  width: 100%;
}

.modal-body-col {
  font-size: 20px;
}

@media (max-width: 768px){

  .row-records {
    position: absolute;
    bottom: 55vh;
    width: 100vw;
    height: 30vh;
  }
  
  .list-group-item{
    height: 25vw;
  }

  .shared-list-group-item{
    height: 14vw;
  }

  .records-heading {
    position: relative;
    top: 70%;
  }

  .ownedRecords-heading{
    position: relative;
    top: 20%;
  }

  .card-ownedRecords {
    position: relative;
    width: 95%;
    left: 2.5%;
    top: 20%;;
  }

  .sharedRecords-heading {
    position: relative;
    top: 40%;
    left: 0%;
  }
  
  .card-sharedRecords {
    position: relative;
    top: 40%;
    width: 95%;
    left: 2.5%
  }
  
  .button-share-access {
    display: inline-block; 
    top: 10%;
    width: 30.7%;
    left: 68%
  }
}
