.row-records {
  position: relative;
  bottom: 180px;
  height: 30vh;
}

.records-heading {
  margin-bottom: 30px;
}

.ownedRecords-heading{
  position: absolute;
  top: 25%;
}

.card-ownedRecords {
  position: absolute;
  width: 45%;
  top: 42%;
  left: 1%;
}

.sharedRecords-heading {
  position: absolute;
  left: 54%;
  top: 25%;
}

.card-sharedRecords {
  position: absolute;
  width: 45%;
  left: 55%;
  top: 42%
}

.button-share-access {
  position: sticky;
  left: 33%;
  width: 25.5%;
  border-style: solid;
  border-color: white;
}

.modal-header-title {
  font-size: 1.25rem;
}

.modal-body-form-label {
  font-size: 1rem;
}

.modal-body-form-control {
  margin-bottom: 1rem;
}

.modal-body-col {
  font-size: 20px;
}

@media (max-width: 768px){
  .records-heading {
    position: relative;
    top: 70%;
  }

  .ownedRecords-heading{
    position: relative;
    top: 20%;
  }

  .card-ownedRecords {
    position: relative;
    width: 95%;
    left: 2.5%;
    top: 20%;;
  }

  .sharedRecords-heading {
    position: relative;
    top: 40%;
    left: 0%;
  }
  
  .card-sharedRecords {
    position: relative;
    top: 40%;
    width: 95%;
    left: 2.5%
  }
  
  .button-share-access {
    top: 50%;
    width: 30%;
    left: 80%
  }
}
