.form-container {
  position: relative;
  top: 2vh;
}

.form-container .form-group-width-50 {
  width: 50px;
}

.form-container .form-group-width-80 {
  width: 80px;
}

.form-container .form-group-width-60 {
  width: 60px;
}
